src/CustomWebAPI/${basedir}/XSDShemas/runScript.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RunScriptAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Name">
          <xs:annotation>
            <xs:documentation>Optional:</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Params">
          <xs:annotation>
            <xs:documentation>Optional:</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KeyValueofstringstring" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Zero or more repetitions:</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Key">
                      <xs:annotation>
                        <xs:documentation>Optional:Optional:</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="Value">
                      <xs:annotation>
                        <xs:documentation>Optional:Optional:</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>